table {
  width: 100%;

  th {
    background-color: #171717;
    color: #fff;
    border: none;
    outline: none;
    border-right: 1px solid #171717;
  }

  th,
  td {
    padding: 20px 2px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    text-align: center;
  }

  td {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.9);

    img {
      max-width: 100%;
      width: 13vw;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}

.dashboard-stats{
  padding: 5vw 2vh;
  text-align: center;
  border-radius: 12px;
  padding: 5vw 2vh;
  text-align: center;
  box-shadow: 0px 2px 13px 0px rgb(0 0 0 / 20%);
  margin-top: 5vh;

  .stat-flex{
    display: flex;
    justify-content: space-around;
  }

  .matches-stat{
    margin-bottom: 15px;
  }
  
  h4{
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 14px;
  }
  p{
    font-size: 24px;
    color: #171717;
    font-weight: 600;
    margin: 0;
  }
}

ion-fab{
  ion-fab-button{
    --background: #D02532 !important;
  }
  ion-fab-list{
    ion-icon{
      color: #fff;
    }
  }
}