<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Matches
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <div class="match-card">
          <span class="m-no">#01</span>
          <ion-row>
            <ion-col size="4">
              <div class="user">
                <img src="../../assets/jt/crown.png" alt="" class="winner">
                <img class="user-img"
                  src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIF.Ja9ERBcUG4mPWOpTs8pZww%26pid%3DApi&f=1"
                  alt="">
                <h4>
                  Vikas
                </h4>
              </div>
            </ion-col>
            <ion-col size="4" class="action-view">
              <!-- <span class="score"><b>VS</b></span> -->
              <span class="score">
                <b>4</b>
                <b class="split">-</b>
                <b>2</b>
              </span>
            </ion-col>
            <ion-col size="4">
              <div class="user">
                <img class="user-img"
                  src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIF.Ja9ERBcUG4mPWOpTs8pZww%26pid%3DApi&f=1"
                  alt="">
                <h4>
                  Vikas
                </h4>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="match-card">
          <span class="m-no">#01</span>
          <ion-row>
            <ion-col size="4">
              <div class="user">
                <img class="user-img"
                  src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIF.Ja9ERBcUG4mPWOpTs8pZww%26pid%3DApi&f=1"
                  alt="">
                <h4>
                  Vikas
                </h4>
              </div>
            </ion-col>
            <ion-col size="4" class="action-view">
              <span class="score"><b>VS</b></span>
            </ion-col>
            <ion-col size="4">
              <div class="user">
                <img class="user-img"
                  src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIF.Ja9ERBcUG4mPWOpTs8pZww%26pid%3DApi&f=1"
                  alt="">
                <h4>
                  Vikas
                </h4>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="match-card">
          <span class="m-no">#01</span>
          <ion-row>
            <ion-col size="4">
              <div class="user">
                <img class="user-img"
                  src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIF.Ja9ERBcUG4mPWOpTs8pZww%26pid%3DApi&f=1"
                  alt="">
                <h4>
                  Vikas
                </h4>
              </div>
            </ion-col>
            <ion-col size="4" class="action-view">
              <span class="score"><b>VS</b></span>
            </ion-col>
            <ion-col size="4">
              <div class="user">
                <img class="user-img"
                  src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIF.Ja9ERBcUG4mPWOpTs8pZww%26pid%3DApi&f=1"
                  alt="">
                <h4>
                  Vikas
                </h4>
              </div>
            </ion-col>
          </ion-row>
        </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>